soap/hello.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.webservicesoap.org/hello"
           xmlns:tns="http://www.webservicesoap.org/hello"
           elementFormDefault="qualified">

    <xs:element name="getHelloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hello" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
